/**************************************************
* HEADER
**************************************************/

.page-header {
	position:         sticky;
	top:              0;
	z-index:          1;

	color:            $color-default;
	background-color: white;
	box-shadow:       0 0 5px rgba($color-default, .35);
}

/**************************************************
* MAIN MENU
**************************************************/

.main-menu {
	&__toggle {
		@include button-reset;
		display: block;

		width:   rem(40px);

		span {
			@include visually-hidden;
		}

		&::before {
			content:             '';
			display:             block;
			padding-bottom:      100%;
			background-image:    svg-burger(inspect($color-primary), 16, 3, 3);
			background-repeat:   no-repeat;
			background-position: center;
		}
	}

	&:not([aria-expanded="true"]) &__menu {
		display: none;
	}
}
